<% if model.errors.ant? %>
  <div id="roor_explanation" class="alert-warning">
    <ul class="mb-0">
      <% model.roors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>